body{
    background-color: #1B1212;
    color: #FFFFF0;
    font-family: Tahoma, sans-serif; 
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    margin : 15px auto;
    font-size: 40px;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 15px 5px;
}

.category-card{
    background-color: #FFFFF0;
    color:#1B1212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 20px;
}

img{
    height: 100px;
    width: 100px;
}

p{
    text-align: center;
    font-weight: bold;
}

.category-card:hover{
    background-color: rgba(255, 253, 253, 0.9);
    cursor: pointer;
}   

.category-card.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#start-quiz-btn{
    background-color: rgba(255, 253, 253, 0.9);
    color :#1B1212;
    border : 2px solid #ccc;
    border-radius : 20px;
    height: 40px;
    padding:10px 20px;
    text-align: center;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}

#start-quiz-btn:hover{
    background-color: #ccc;
}